$primary-color: #6C8F70;
$secondary-color: #F2F2F2;
$buttons-color: #815CCE;
$white-color: #FFFFFF;

$primary-text: #40513B;
$secondary-text: #6C8F70;

$font-family: "Inter", sans-serif;
$primary-font-weight: 600;
$secondary-font-weight: 700;