$primary-color: #6C8F70;
$secondary-color: #F2F2F2;
$buttons-color: #815CCE;
$white-color: #FFFFFF;

$primary-text: #40513B;
$secondary-text: #6C8F70;

$font-family: "Inter", sans-serif;
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

$font-primary: 14px;
$font-secondary: 12px;
$font-bigger: 51px;

$line-primary: 21px;
$line-secondary: 19px;
$line-bigger: 61px;

$radius-primary: 8px;
$radius-secondary: 16px;

$letter-spacing: -2px;

$full-size: 100%;

$screen-spacing: calc(100% - 15px)