@use "variables.scss" as vars;
@import "tailwindcss/preflight.css" layer(base);

body{
    background-color: #E1EBDC;
}

img{
    object-fit: cover;
}

button{
    cursor: pointer;
}

.container{
    position: relative;
    max-width: 1280px;
    font-family: vars.$font-family;
    width: min(vars.$full-size, 1280px);
    margin-inline: auto;
}

.container__fix{
    width: vars.$full-size;
    background-color: #455740;
}

.navbar{
    padding: 8px;
    margin-bottom: 85px;

    .navbar__logo{
        margin-block: auto;
        padding-inline: 8px;
        gap: 8px;

        .navbar__logo-image{
            width: 24px;
            height: 24px;
        }

        .navbar__logo-text{
            color: vars.$primary-text;
            font-weight: vars.$font-weight-600;
            font-size: vars.$font-primary;
            line-height: vars.$line-primary;
        }
    }

    .navbar__search{
        width: 73%;
        border: 1px solid #7AAC7F;
        border-radius: vars.$radius-primary;
        padding: 8px;
        gap: 4px;
        color: vars.$primary-color;
        font-weight: vars.$font-weight-400;
        font-size: vars.$font-primary;
        line-height: vars.$line-primary;
    }

    .navbar__dropdown{
        padding-inline: 16px;
        gap: 8px;
        color: vars.$primary-text;
        font-weight: vars.$font-weight-600;
        line-height: vars.$line-secondary;
        font-size: vars.$font-secondary;
    }

    .navbar__button{
        background-color: vars.$buttons-color;
        border-radius: vars.$radius-primary;
        color: vars.$white-color;
        font-weight: vars.$font-weight-600;
        font-size: vars.$font-primary;
        line-height: vars.$line-primary;
        padding: 12px 20px;
        gap: 4px;
    }
}

.discover{
    max-width: 800px;
    margin-inline: auto;
    gap: 40px;
    margin-bottom: 32px;

    .discover__title{
        color: vars.$primary-text;
        font-weight: vars.$font-weight-700;
        font-size: 96px;
        line-height: 96px;
        letter-spacing: vars.$letter-spacing;
    }

    .discover__subtitle{
        color: vars.$secondary-text;
        font-weight: vars.$font-weight-400;
        font-size: 22px;
        line-height: 28.6px;
    }

    .discover__button{
        width: 360px;
        background-color: vars.$buttons-color;
        border-radius: vars.$radius-primary;
        color: vars.$white-color;
        font-weight: vars.$font-weight-600;
        font-size: vars.$font-primary;
        line-height: vars.$line-primary;
        padding-inline: 48px;
        padding-block: 16px;
        gap: 4px;
    }
}

.gallery{
    max-width: 1600px;
    padding-block: 120px;
    margin-bottom: 56px;

    .gallery-center{
        width: 800px;
        height: 540px;
        border-radius: vars.$radius-secondary;
        box-shadow: 0px 16px 48px 0px #00000029;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .gallery__secondary{
        width: 1216px;
        gap: 256px;

        .gallery__secondary-left, .gallery__secondary-right{
            width: 480px;
            height: 396px;
            border-radius: vars.$radius-secondary;
        }
    }
}

.statement{
    background-color: #455740;
    padding: 144px 16px;
    margin-bottom: 160px;
    gap: 48px;

    .statement__content{
        width: 1024px;
        gap: 8px;

        .statement__content-title{
            color: #A479FD;
            font-weight: vars.$font-weight-700;
            font-size: 28px;
            line-height: 34px;
        }

        .statement__content-subtitle{
            color: #9DC08B;
            font-weight: vars.$font-weight-700;
            font-size: vars.$font-bigger;
            line-height: vars.$line-bigger;
            letter-spacing: vars.$letter-spacing;
        }
    }
}

.about-us{
    width: 1248px;
    padding-bottom: 280px;
    gap: 32px;

    .about-us__title{
        color: vars.$primary-text;
        font-weight: vars.$font-weight-700;
        font-size: vars.$font-bigger;
        line-height: vars.$line-bigger;
        letter-spacing: vars.$letter-spacing;
    }

    .about-us__subtitle{
        color: vars.$secondary-text;
        font-weight: vars.$font-weight-400;
        font-size: 22px;
        line-height: 28.6px;
    }

    .about-us__image img{
        width: 800px;
        height: 489px;
        border-radius: 32px;
        gap: 8px;
    }
}

.featured{
    max-width: 1200px;
    gap: 24px;
    margin-bottom: 120px;

    .featured__text{
        font-weight: vars.$font-weight-700;
        color: vars.$primary-text;
        font-size: vars.$font-bigger;
        line-height: vars.$line-bigger;
        letter-spacing: vars.$letter-spacing;
    }
    .featured__cards{
        width: 1200px;
        gap: 24px;

        .featured__cards-blocks{
            width: 384px;
            border-radius: vars.$radius-secondary;
            background-color: #B9D8A9;

            .featured__cards-blocks--image img{
                width: 384px;
                height: 312px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }

            .featured__cards-blocks--text{
                padding: 16px;
                gap: 4px;
            }

            .featured__cards-blocks--text_title{
                font-weight: vars.$font-weight-600;
                color: vars.$primary-text;
                font-size: vars.$font-primary;
                line-height: vars.$line-primary;

            }
            .featured__cards-blocks--text_subtitle{
                font-weight: vars.$font-weight-400;
                color: vars.$primary-text;
            }
            .featured__cards-blocks--text_more{
                font-weight: vars.$font-weight-600;
                color: vars.$primary-text;
                font-size: vars.$font-secondary;
                line-height: vars.$line-secondary;
            }
        }
    }
}

.get-started{
    .get-started__image{
        width: 50%;
    }
    .get-started__image img{
        display: flex;
        height: 803px;
        padding-block: 48px;
        gap: 74px;
    }
    .get-started__container{
        width: 50%;
        padding: 80px 16px;
        gap: 8px;

        .get-started__container-text{
            width: 524px;
            border-radius: 32px;
            gap: 32px;
        }

        .get-started__container-text_title{
            color: vars.$primary-text;
            font-weight: vars.$font-weight-700;
            font-size: vars.$font-bigger;
            line-height: vars.$line-bigger;
            letter-spacing: vars.$letter-spacing;
        }
        .get-started__container-text_subtitle{
            color: vars.$secondary-text;
            font-weight: vars.$font-weight-400;
            font-size: 18px;
            line-height: 25px;
        }
        .get-started__container-text_button{
            background-color: vars.$buttons-color;
            color: vars.$white-color;
            padding-inline: 48px;
            padding-block: 16px;
            max-width: 360px;
            border-radius: vars.$radius-primary;
            gap: 4px;
        }
        .get-started__container-text_button span{
            padding-inline: 48px;
            gap: 8px;
            font-size: 18px;
            line-height: vars.$line-primary;
            font-weight: vars.$font-weight-600;
        }
    }
}

.footer{
    padding: 48px 32px;

    .footer__logo{
        gap: 4px;

        .footer__logo-image{
            width: 32px;
            height: 32px;
        }
        .footer__logo-text{
            color: vars.$primary-text;
            font-weight: vars.$font-weight-600;
            font-size: vars.$font-primary;
            line-height: vars.$line-primary;
        }
    }

    .footer__links{
        gap: 8px;

        .footer__links-menu{
            gap: 32px;
            color: vars.$primary-text;
            font-weight: vars.$font-weight-600;
            font-size: vars.$font-secondary;
            line-height: vars.$line-secondary;
        }
        .footer__links-rights{
            color: vars.$secondary-text;
            font-weight: vars.$font-weight-400;
            font-size: vars.$font-secondary;
            line-height: vars.$line-secondary;
        }
    }

    .footer__social{
        gap: 16px;

        .footer__social-icons{
            width: 24px;
            height: 24px;
        }
    }
}

@media (max-width: 1262px){
    .navbar{
        .navbar__search{
            width: 58%;
        }
        .navbar__button{
            padding: 12px 20px;
        }
    }

    .gallery{
        .gallery__secondary{
            width: vars.$full-size;
            gap: 0;
            flex-direction: column;
            align-items: center;

            .gallery__secondary-left, .gallery__secondary-right{
                width: 580px;
                height: 396px;
            }
        }
    }

    .about-us{
        width: vars.$full-size;
    }
    .featured{
        .featured__cards{
            .featured__cards-blocks{
                width: 389px;

                .featured__cards-blocks--image img{
                    width: 389px;
                }
            }
        }
    }
    

    .featured__cards:last-child{
        width: vars.$full-size;

        .featured__cards-blocks:last-child{
            width: 802px;
            height: 426px;

            .featured__cards-blocks--image img{
                width: 802px;
                height: 312px;
            }
        }
    }

    .get-started{
        height: 803px;

        .get-started__container{
            .get-started__container-text{
                width: 385px;
            }
        }
    }
}

@media (max-width: 818px){
    .navbar{
        .navbar__search{
            position: absolute;
                top: 80px;
                width: 99%;
                left: 50%;
                transform: translate(-50%, -50%);
        }
    }

    .gallery{
        .gallery__secondary{
            .gallery__secondary-left, .gallery__secondary-right{
                width: 90%;
                height: 396px;
            }
        }

        
        .gallery-center{
            width: 95%;
            height: 540px;
        }
    }

    .featured{
        .featured__cards{
            .featured__cards-blocks{
                width: 802px;
                height: 426px;

                .featured__cards-blocks--image img{
                    width: 802px;
                    height: 312px;
                }
            }
        }
    }

    .get-started{
        flex-direction: column;
        height: vars.$full-size;

        .get-started__image{
            width: vars.$full-size;
        }

        .get-started__image img{
            padding: 0;
        }

        .get-started__container{
            width: vars.$full-size;
            

            .get-started__container-text{
                width: vars.$full-size;
                margin-inline: auto;
            }
        }
    }

    .footer{
        padding-block: 70px;
        
        .footer__social{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}








