@use "variables.scss" as vars;
@import "tailwindcss/preflight.css" layer(base);

body{
    background-color: #E1EBDC;
}

.container{
    font-family: vars.$font-family;
    width: min(100%, 1280px);
    margin-inline: auto;
}

.container__fix{
    width: 100%;
    background-color: #455740;
}

.navbar{
    padding: 8px;
    margin-bottom: 85px;

    .navbar__logo{
        margin-block: auto;
        padding-inline: 8px;
        gap: 8px;

        .navbar__logo-image{
            width: 24px;
            height: 24px;
        }

        .navbar__logo-text{
            color: vars.$primary-text;
            font-weight: vars.$font-weight-600;
            font-size: 14px;
            line-height: 21px;
        }
    }

    .navbar__search{
        width: 903px;
        border: 1px solid #7AAC7F;
        border-radius: 8px;
        padding: 8px;
        gap: 4px;
        color: vars.$primary-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    .navbar__dropdown{
        padding-inline: 16px;
        gap: 8px;
        color: vars.$primary-text;
        font-weight: vars.$font-weight-600;
        line-height: 19px;
        font-size: 12px;
    }

    .navbar__button{
        background-color: vars.$buttons-color;
        border-radius: 8px;
        color: vars.$white-color;
        font-weight: vars.$font-weight-600;
        font-size: 14px;
        line-height: 21px;
        padding-inline: 20px;
        padding-block: 12px;
        gap: 4px;
    }
}

.discover{
    max-width: 800px;
    margin-inline: auto;
    gap: 40px;
    margin-bottom: 32px;

    .discover__title{
        color: vars.$primary-text;
        font-weight: vars.$font-weight-700;
        font-size: 96px;
        line-height: 96px;
        letter-spacing: vars.$letter-spacing;
    }

    .discover__subtitle{
        color: vars.$secondary-text;
        font-weight: 400;
        font-size: 22px;
        line-height: 28.6px;
    }

    .discover__button{
        width: 360px;
        background-color: vars.$buttons-color;
        border-radius: 8px;
        color: vars.$white-color;
        font-weight: vars.$font-weight-600;
        font-size: 14px;
        line-height: 21px;
        padding-inline: 48px;
        padding-block: 16px;
        gap: 4px;
    }
}

.gallery{
    max-width: 1600px;
    padding-block: 120px;
    margin-bottom: 56px;

    .gallery-center{
        width: 800px;
        height: 540px;
        border-radius: 16px;
        box-shadow: 0px 16px 48px 0px #00000029;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .gallery__secondary{
        width: 1216px;
        gap: 256px;

        .gallery__secondary-left, .gallery__secondary-right{
            width: 480px;
            height: 396px;
            border-radius: 16px;
            object-fit: cover;
        }
    }
}

.statement{
    background-color: #455740;
    padding-inline: 16px;
    padding-block: 144px;
    margin-bottom: 160px;
    gap: 48px;

    .statement__content{
        width: 1024px;
        gap: 8px;

        .statement__content-title{
            color: #A479FD;
            font-weight: vars.$font-weight-700;
            font-size: 28px;
            line-height: 34px;
        }

        .statement__content-subtitle{
            color: #9DC08B;
            font-weight: vars.$font-weight-700;
            font-size: 51px;
            line-height: 61px;
            letter-spacing: vars.$letter-spacing;
        }
    }
}

.about-us{
    width: 1248px;
    padding-bottom: 280px;
    gap: 32px;

    .about-us__title{
        color: vars.$primary-text;
        font-weight: vars.$font-weight-700;
        font-size: 51px;
        line-height: 61px;
        letter-spacing: vars.$letter-spacing;
    }

    .about-us__subtitle{
        color: vars.$secondary-text;
        font-weight: 400;
        font-size: 22px;
        line-height: 28.6px;
    }

    .about-us__image img{
        width: 800px;
        height: 489px;
        border-radius: 32px;
        gap: 8px;
        object-fit: cover;
    }
}

.featured{
    max-width: 1200px;
    gap: 24px;
    margin-bottom: 120px;

    .featured__text{
        font-weight: vars.$font-weight-700;
        color: vars.$primary-text;
        font-size: 51px;
        line-height: 61px;
        letter-spacing: vars.$letter-spacing;
    }
    .featured__cards{
        width: 1200px;
        gap: 24px;

        .featured__cards-blocks{
            width: 384px;
            border-radius: 16px;
            background-color: #B9D8A9;

            .featured__cards-blocks--image img{
                width: 384px;
                height: 312px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                object-fit: cover;
            }

            .featured__cards-blocks--text{
                padding: 16px;
                gap: 4px;
            }

            .featured__cards-blocks--text_title{
                font-weight: vars.$font-weight-600;
                color: vars.$primary-text;
                font-size: 14px;
                line-height: 21px;

            }
            .featured__cards-blocks--text_subtitle{
                font-weight: vars.$font-weight-400;
                color: vars.$primary-text;
            }
            .featured__cards-blocks--text_more{
                font-weight: vars.$font-weight-600;
                color: vars.$primary-text;
                font-size: 12px;
                line-height: 19px;
            }
        }
    }
}

.get-started{
    .get-started__image{
        width: 50%;
    }
    .get-started__image img{
        height: 803px;
        padding-block: 48px;
        gap: 74px;
    }
    .get-started__container{
        width: 50%;
        padding: 80px 16px 80px 16px;
        gap: 8px;

        .get-started__container-text{
            width: 524px;
            border-radius: 32px;
            gap: 32px;
        }

        .get-started__container-text_title{
            color: vars.$primary-text;
            font-weight: vars.$font-weight-700;
            font-size: 51px;
            line-height: 61px;
            letter-spacing: vars.$letter-spacing;
        }
        .get-started__container-text_subtitle{
            color: vars.$secondary-text;
            font-weight: vars.$font-weight-400;
            font-size: 18px;
            line-height: 25px;
        }
        .get-started__container-text_button{
            background-color: vars.$buttons-color;
            color: vars.$white-color;
            padding-inline: 48px;
            padding-block: 16px;
            max-width: 360px;
            border-radius: 8px;
            gap: 4px;
        }
        .get-started__container-text_button span{
            padding-inline: 48px;
            gap: 8px;
            font-size: 18px;
            line-height: 21px;
            font-weight: vars.$font-weight-600;
        }
    }
}

.footer{
    padding-inline: 32px;
    padding-block: 48px;

    .footer__logo{
        gap: 4px;

        .footer__logo-image{
            width: 32px;
            height: 32px;
        }
        .footer__logo-text{
            color: vars.$primary-text;
            font-weight: vars.$font-weight-600;
            font-size: 14px;
            line-height: 21px;
        }
    }

    .footer__links{
        gap: 8px;

        .footer__links-menu{
            gap: 32px;
            color: vars.$primary-text;
            font-weight: vars.$font-weight-600;
            font-size: 12px;
            line-height: 19px;
        }
        .footer__links-rights{
            color: vars.$secondary-text;
            font-weight: vars.$font-weight-400;
            font-size: 12px;
            line-height: 19px;
        }
    }

    .footer__social{
        gap: 16px;

        .footer__social-icons{
            width: 24px;
            height: 24px;
        }
    }
}

@media (max-width: 1279px){
    .container{
        margin-inline: 0;
    }
    .navbar{
        
        margin-inline: 0;
    }
}

// @media (max-width: 834px){
//     .navbar{
//         width: 100%;
    
//         .navbar__search{
//             width: 473px;
//         }
//     }
// }








