@import "tailwindcss/preflight.css" layer(base);
body {
  background-color: #E1EBDC;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 1280px;
  font-family: "Inter", sans-serif;
  width: min(100%, 1280px);
  margin-inline: auto;
}

.container__fix {
  width: 100%;
  background-color: #455740;
}

.navbar {
  padding: 8px;
  margin-bottom: 85px;
}
.navbar .navbar__logo {
  margin-block: auto;
  padding-inline: 8px;
  gap: 8px;
}
.navbar .navbar__logo .navbar__logo-image {
  width: 24px;
  height: 24px;
}
.navbar .navbar__logo .navbar__logo-text {
  color: #40513B;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.navbar .navbar__search {
  width: 73%;
  border: 1px solid #7AAC7F;
  border-radius: 8px;
  padding: 8px;
  gap: 4px;
  color: #6C8F70;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.navbar .navbar__dropdown {
  padding-inline: 16px;
  gap: 8px;
  color: #40513B;
  font-weight: 600;
  line-height: 19px;
  font-size: 12px;
}
.navbar .navbar__button {
  background-color: #815CCE;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 12px 20px;
  gap: 4px;
}

.discover {
  max-width: 800px;
  margin-inline: auto;
  gap: 40px;
  margin-bottom: 32px;
}
.discover .discover__title {
  color: #40513B;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -2px;
}
.discover .discover__subtitle {
  color: #6C8F70;
  font-weight: 400;
  font-size: 22px;
  line-height: 28.6px;
}
.discover .discover__button {
  width: 360px;
  background-color: #815CCE;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding-inline: 48px;
  padding-block: 16px;
  gap: 4px;
}

.gallery {
  max-width: 1600px;
  padding-block: 120px;
  margin-bottom: 56px;
}
.gallery .gallery-center {
  width: 800px;
  height: 540px;
  border-radius: 16px;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.1607843137);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery .gallery__secondary {
  width: 1216px;
  gap: 256px;
}
.gallery .gallery__secondary .gallery__secondary-left, .gallery .gallery__secondary .gallery__secondary-right {
  width: 480px;
  height: 396px;
  border-radius: 16px;
}

.statement {
  background-color: #455740;
  padding: 144px 16px;
  margin-bottom: 160px;
  gap: 48px;
}
.statement .statement__content {
  width: 1024px;
  gap: 8px;
}
.statement .statement__content .statement__content-title {
  color: #A479FD;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}
.statement .statement__content .statement__content-subtitle {
  color: #9DC08B;
  font-weight: 700;
  font-size: 51px;
  line-height: 61px;
  letter-spacing: -2px;
}

.about-us {
  width: 1248px;
  padding-bottom: 280px;
  gap: 32px;
}
.about-us .about-us__title {
  color: #40513B;
  font-weight: 700;
  font-size: 51px;
  line-height: 61px;
  letter-spacing: -2px;
}
.about-us .about-us__subtitle {
  color: #6C8F70;
  font-weight: 400;
  font-size: 22px;
  line-height: 28.6px;
}
.about-us .about-us__image img {
  width: 800px;
  height: 489px;
  border-radius: 32px;
  gap: 8px;
}

.featured {
  max-width: 1200px;
  gap: 24px;
  margin-bottom: 120px;
}
.featured .featured__text {
  font-weight: 700;
  color: #40513B;
  font-size: 51px;
  line-height: 61px;
  letter-spacing: -2px;
}
.featured .featured__cards {
  width: 1200px;
  gap: 24px;
}
.featured .featured__cards .featured__cards-blocks {
  width: 384px;
  border-radius: 16px;
  background-color: #B9D8A9;
}
.featured .featured__cards .featured__cards-blocks .featured__cards-blocks--image img {
  width: 384px;
  height: 312px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.featured .featured__cards .featured__cards-blocks .featured__cards-blocks--text {
  padding: 16px;
  gap: 4px;
}
.featured .featured__cards .featured__cards-blocks .featured__cards-blocks--text_title {
  font-weight: 600;
  color: #40513B;
  font-size: 14px;
  line-height: 21px;
}
.featured .featured__cards .featured__cards-blocks .featured__cards-blocks--text_subtitle {
  font-weight: 400;
  color: #40513B;
}
.featured .featured__cards .featured__cards-blocks .featured__cards-blocks--text_more {
  font-weight: 600;
  color: #40513B;
  font-size: 12px;
  line-height: 19px;
}

.get-started .get-started__image {
  width: 50%;
}
.get-started .get-started__image img {
  display: flex;
  height: 803px;
  padding-block: 48px;
  gap: 74px;
}
.get-started .get-started__container {
  width: 50%;
  padding: 80px 16px;
  gap: 8px;
}
.get-started .get-started__container .get-started__container-text {
  width: 524px;
  border-radius: 32px;
  gap: 32px;
}
.get-started .get-started__container .get-started__container-text_title {
  color: #40513B;
  font-weight: 700;
  font-size: 51px;
  line-height: 61px;
  letter-spacing: -2px;
}
.get-started .get-started__container .get-started__container-text_subtitle {
  color: #6C8F70;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.get-started .get-started__container .get-started__container-text_button {
  background-color: #815CCE;
  color: #FFFFFF;
  padding-inline: 48px;
  padding-block: 16px;
  max-width: 360px;
  border-radius: 8px;
  gap: 4px;
}
.get-started .get-started__container .get-started__container-text_button span {
  padding-inline: 48px;
  gap: 8px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}

.footer {
  padding: 48px 32px;
}
.footer .footer__logo {
  gap: 4px;
}
.footer .footer__logo .footer__logo-image {
  width: 32px;
  height: 32px;
}
.footer .footer__logo .footer__logo-text {
  color: #40513B;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.footer .footer__links {
  gap: 8px;
}
.footer .footer__links .footer__links-menu {
  gap: 32px;
  color: #40513B;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
}
.footer .footer__links .footer__links-rights {
  color: #6C8F70;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}
.footer .footer__social {
  gap: 16px;
}
.footer .footer__social .footer__social-icons {
  width: 24px;
  height: 24px;
}

@media (max-width: 1262px) {
  .navbar .navbar__search {
    width: 58%;
  }
  .navbar .navbar__button {
    padding: 12px 20px;
  }
  .gallery .gallery__secondary {
    width: 100%;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }
  .gallery .gallery__secondary .gallery__secondary-left, .gallery .gallery__secondary .gallery__secondary-right {
    width: 580px;
    height: 396px;
  }
  .about-us {
    width: 100%;
  }
  .featured .featured__cards .featured__cards-blocks {
    width: 389px;
  }
  .featured .featured__cards .featured__cards-blocks .featured__cards-blocks--image img {
    width: 389px;
  }
  .featured__cards:last-child {
    width: 100%;
  }
  .featured__cards:last-child .featured__cards-blocks:last-child {
    width: 802px;
    height: 426px;
  }
  .featured__cards:last-child .featured__cards-blocks:last-child .featured__cards-blocks--image img {
    width: 802px;
    height: 312px;
  }
  .get-started {
    height: 803px;
  }
  .get-started .get-started__container .get-started__container-text {
    width: 385px;
  }
}
@media (max-width: 818px) {
  .navbar .navbar__search {
    position: absolute;
    top: 80px;
    width: calc(100% - 15px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .discover {
    width: calc(100% - 15px);
    margin-inline: auto;
  }
  .discover .discover__button {
    width: 100%;
  }
  .gallery .gallery__secondary .gallery__secondary-left, .gallery .gallery__secondary .gallery__secondary-right {
    width: 90%;
    height: 396px;
  }
  .gallery .gallery-center {
    width: 95%;
    height: 540px;
  }
  .featured {
    width: calc(100% - 15px);
    margin-inline: auto;
  }
  .featured .featured__cards .featured__cards-blocks {
    width: 802px;
    height: 426px;
  }
  .featured .featured__cards .featured__cards-blocks .featured__cards-blocks--image img {
    width: 802px;
    height: 312px;
  }
  .about-us {
    width: calc(100% - 15px);
    margin-inline: auto;
  }
  .get-started {
    flex-direction: column;
    height: 100%;
  }
  .get-started .get-started__image {
    width: 100%;
  }
  .get-started .get-started__image img {
    padding: 0;
  }
  .get-started .get-started__container {
    width: 100%;
  }
  .get-started .get-started__container .get-started__container-text {
    width: 100%;
    margin-inline: auto;
  }
  .footer {
    padding-block: 70px;
  }
  .footer .footer__links .footer__links-menu {
    font-size: 11px;
  }
  .footer .footer__social {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}/*# sourceMappingURL=style.css.map */